@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --first-color: #2AEA49;
  --second-color: #B129FF ;
  --third-color: #110313 ;
}
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fefffa;
  font-family: "Kanit", sans-serif;
}

nav {
  background-color: var(--third-color);
  font-family: "DM Sans", sans-serif;
}

.nav-link {
  color: #fefffa;
}

.nav-link:hover {
  color: #2aea49;
}

nav .navbar {
  display: flex;
  justify-content: space-between;
}

nav .burger {
  width: 6vw;
}

/* SECCION MAIN */

main {
  background-color: #010203;
}

.form {
  padding: 20px;
}

input {
  margin-top: 20px;
  padding: 5px 15px;
  width: 350px;
  max-width: 70%;
  background-color: #212321;
  outline: none;
  border: 1px solid #fefffa;
  border-radius: 10px;
  color: #fefffa;
}

.form button {
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #2aea49;
  color: #010203;
  font-weight: 700;
  border: none;
}
/*
.ilustracion {
  display: flex;
  justify-content: right;
  margin: 0;
  padding: 0;
}

.ilustracion img {
  width: max-content;
  height: 500px;
  object-fit: contain;
}
*/
.carrusel {
  margin: 20px auto;
  padding: 20px 10px;
  display: flex;
  justify-content: space-around;
}

.descuento {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  border: 2px solid #2aea49;
  background-color: #212321;
  color: #fefffa;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.img-circular {
  margin: 10px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fefffa;
}

.descuento button {
  width: 80%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #b129ff;
}

/* FOOTER */

#footer {
  background-image: url(data/grano_footer.gif);
 
}

.footer-img {
  display: flex;
  margin: 0;
  padding: 0;
}
.footer-img img {
  width: max-content;
  height: 400px;
  object-fit: contain;
}

footer .form {
  margin: auto;
  width: 85%;
  background-color: #010203;
  padding: 0;
}

footer h5 {
  font-weight: 200;
}
